<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.steven.phase5r.dailyrefresh</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/messssi/Library/Application Support/Phase5R/bin/phase5r_dailyrefresh_launcher.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/messssi/LocalRuntime/equity</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
    <key>StartInterval</key>
    <integer>900</integer>
    <key>ProcessType</key>
    <string>Background</string>
    <key>StandardOutPath</key>
    <string>/Users/messssi/Library/Logs/phase5r_dailyrefresh.out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/messssi/Library/Logs/phase5r_dailyrefresh.err.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PYTHONUNBUFFERED</key>
        <string>1</string>
    </dict>
</dict>
</plist>
