<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.steven.phase5r.dailydecision</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Library/Frameworks/Python.framework/Versions/3.13/bin/python3</string>
        <string>/Users/messssi/LocalRuntime/equity/09_scripts/phase5r/run_phase5r_runtime_scheduler.py</string>
        <string>--job</string>
        <string>dailydecision</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/messssi/LocalRuntime/equity</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
    <key>StartInterval</key>
    <integer>900</integer>
    <key>ProcessType</key>
    <string>Background</string>
    <key>StandardOutPath</key>
    <string>/Users/messssi/Library/Logs/phase5r_dailydecision.out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/messssi/Library/Logs/phase5r_dailydecision.err.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PYTHONUNBUFFERED</key>
        <string>1</string>
    </dict>
</dict>
</plist>
